
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 50;
  font-family: inherit;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #2e0303;
    background-color: #67d554;
   
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #5e025e;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5e025e;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 15px;
}

.nav-links {
  display: flex;
  list-style: none; /* Removes bullet points */
  gap: 1.5rem;      /* Even spacing between links */
}

.title-for-exs{
  font-size: 2em;
}

.sound-options{
  display: flex;
  flex-wrap: wrap;

  /* justify-content: start; */
  align-items: stretch;
  flex-direction: row;
  /* align-items: center; */
  gap: 1em;
}

.sound-params-container{
  flex: 1;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #210515;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  
}

.sound-params-container{
  padding: 0.6em 0.8em;
}

.sound-container {
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-wrap: wrap;

  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.8em;
  width: 60%;
}



.time-params-container{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  /* gap: 15px; */

  justify-content: space-between;

  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #210515;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  flex-direction: column;
  padding: 0.6em 0.8em;
}

.time-params{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.8em;
}

.time-params input{
  
  max-width: 100%;
}

.start-button{
  margin-top: 1em;
  
}

.title-for-exs{
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #210515;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 0.5em;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.section-title{
  font-size: 1.6em;
  font-style:oblique;
}

.option-title{
  font-size: 1.2em;
}

.select{
  font-size: 1em;
}